@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title us</h2>

<h3 style="
    text-align: center;
    font-family: emoji;
">
    BIG SCHOOL
</h3>


<p style="
    text-align: center;
    font-style: oblique;
    font-family: monospace;
">Chương trình gồm nhiều khóa học online hàng đầu thế giới.</p>