@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title us</h2>


<address>
    475/Xô Viết Nghệ Tĩnh<br />
    Quận Bình Thạnh, TP.Hồ Chí Minh, Việt Nam.<br />
    <abbr title="Phone">Phone number:</abbr>
    012345678
</address>

<address>
    <strong>Support:</strong>   <a href="#">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="#">Marketing@example.com</a>
</address>